@media all and (min-width: 700px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #131517;
    padding: 0px 5% 0px 5%;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .main-logo {
    width: 120px;
    margin-top: 10px;
    height: 150px;
    object-fit: contain;
  }


  #nav-links > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  li > a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    margin: 0 20px 0 20px;
    font-weight: normal;
    font-size: 17px;
  }

  #toogle {
    display: none;
  }

  .download-cv {
    background-color: #ffc800;
    border-radius: 10px;
    text-decoration: none;
    width: 157px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131517;
    font-size: 14px;
  }

  .download-cv > i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .my-mobile-image-container {
    display: none;
  }

  .my-image-container {
    position: relative;
    transition-property: margin-top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }

  .css-typewriting-container .static-text {
    font-size: 55px;
    color: #e1e1e1;
    font-weight: 700;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 15px;
    height: 80px;
    font-size: 55px;
    font-weight: 700;
  }

  .dynamic-text li {
    list-style: none;
    color: #ffc800;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 80px;
    width: 100%;
    background: #131517;
    border-left: 2px solid #ffc800;
    animation: typing 2.5s steps(10) infinite;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 300;
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 10px;
    height: 40px;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #ffc800;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .download-cv:hover {
    background-color: #131517;
    color: #ffc800 !important;
    border: 1px solid #ffc800;
    transition: all 0.5s ease-in-out;
  }

  .about-me-content > p {
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 150px 0px 0px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }


  .my-image-container:hover {
    margin-top: -10px;
    transition: all 0.7s ease-in-out;

  }

  @keyframes typing-2 {
    100% {
      left: 100%;
      margin: 0 -30px 0 30px;
    }
  }

  @keyframes slide-2 {
    100% {
      top: -135px;
      margin: 0 0 0 0;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      border-radius: 100%;
    }

    100% {
      transform: rotate(360deg);
      border-radius: 100%;
    }
  }
}
