* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mark-Pro", sans-serif;
}

@font-face {
  font-family: "Mark Pro", sans-serif;
  src: url("./fonts/Mark-Pro.ttf");
}

@media screen and (min-width: 500px) {
  nav {
    position: static;
    background-color: #131517;
    padding: 20px 5% 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav > a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }

  .nav-links > a {
    color: #ffffff;
    text-decoration: none;
    line-height: 20px;
    margin: 0 10px 0 10px;
  }

  .nav-icons {
    display: none;
  }

  .download-cv-btn {
    background-color: #ffc800;
    border-radius: 10px;
    text-decoration: none;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download-cv-btn > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131517;
    text-decoration: none;
    font-size: 16px;
  }

  .download-cv > img {
    width: 16px;
    margin-right: 5px;
  }
}
