@media all and (min-width: 700px) {
  nav {
    position: static;
    background-color: #131517;
    padding: 20px 5% 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-logo {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    line-height: 39px;
  }

  .nav-links > a {
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    margin: 0 20px 0 20px;
    font-weight: normal;
    font-size: 20px;
  }

  #check,
  #bars,
  #cross,
  .checkbtn {
    display: none;
  }

  .download-cv {
    background-color: #ffc800;
    border-radius: 10px;
    text-decoration: none;
    width: 157px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131517;
  }

  .download-cv > i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .hire-me-section {
    display: flex;
    justify-content: center;
  }

  .hire-me-circle {
    display: flex;
    background: #ffc800;
    width: 120px;
    height: 120px;
    /* position: absolute; */
    /* border-radius: 0%;
  animation: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  border: 2px dotted #131517; */
    border-radius: 50%;
  }

  .hire-me-content {
    margin-top: 50px;
    margin-left: 25px;
  }

  .my-mobile-image-container {
    display: none;
  }

  .css-typewriting-container .static-text {
    font-size: 50px;
    color: #e1e1e1;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 15px;
    height: 56px;
    font-size: 50px;
  }

  .dynamic-text li {
    list-style: none;
    color: #ffc800;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 60px;
    width: 100%;
    background: #131517;
    border-left: 2px solid #ffc800;
    animation: typing 2.5s steps(10) infinite;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 300;
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 10px;
    height: 33px;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #ffc800;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .download-cv:hover {
    background-color: #131517;
    color: #ffc800 !important;
    border: 1px solid #ffc800;
    transition: all 0.5s ease-in-out;
  }

  .about-me-content > p {
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    margin: 30px auto 0 auto;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }

  div.a-project-card:hover {
    animation: project-card-hover;
    animation-duration: 1s;
  }

  @keyframes project-card-hover {
    100% {
      margin-top: -10px;
    }
  }

  @keyframes typing-2 {
    100% {
      left: 100%;
      margin: 0 -30px 0 30px;
    }
  }

  @keyframes slide-2 {
    100% {
      top: -105px;
      margin: 0 0 0 0;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      border-radius: 100%;
    }

    100% {
      transform: rotate(360deg);
      border-radius: 100%;
    }
  }
}
