@media all and (max-width: 700px) {
  nav {
    position: static;
    background-color: #131517;
    padding: 0px 10px 15px 10px;
  }

  .main-logo {
    padding-top: 8px;
    width: 80px;
    position: relative;
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.6s;

  }

  .main-logo:hover {
    transform: rotate(360deg);
  }
  .nav-links {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-top: -100%;
    z-index: 1000;
    transition: all 3s ease-in-out;
    opacity: 93%;
  }

  .nav-links > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    line-height: 20px;
    margin: 20px 0 20px 0;
  }

  .download-cv-btn {
    color: #131517;
    display: flex;
    justify-content: right;
  }

  .download-cv > i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .download-cv-btn > * {
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #131517 !important;
    text-decoration: none;
  }

  #bars,
  #cross {
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    font-size: 37px;
    position: absolute;
    right: 6px;
    padding-top: 25px;
  }

  #check:checked + label span#bars {
    display: none;
  }

  #check:checked + label span#cross {
    display: inline-block;
  }

  #cross,
  #check {
    display: none;
  }

  #check:checked ~ .nav-links {
    transition: all 2.5s ease-in;
    margin-top: 0 !important;
  }

  .css-typewriting-container .static-text {
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 10px;
    font-size: 30px;
  }

  .dynamic-text li {
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    color: #ffc800;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 100%;
    background: #131517;
    border-left: 2px solid #ffc800;
    animation: typing 2.5s steps(10) infinite;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 200;
    font-size: 20px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 5px;
    height: 23px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #ffc800;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .about-me-content > p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .socials-logo {
    flex-direction: column;
  }

  .hire-me-circle {
    display: flex;
    background: #ffc800;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .rolling-words-container {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }

  .hire-me-content {
    margin-top: 50px;
    margin-left: 25px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 13%;
    grid-gap: 30px;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
  }

  .a-project-card {
    width: 100%;
    border-radius: 10px;
  }

  .projects-section > p {
    font-size: 30px;
    font-weight: 500;
  }

  .last-section > div {
    font-size: 30px !important;
  }

  @keyframes slide-2 {
    100% {
      top: -70px;
      margin: 0 0 0 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;
  }

  .my-mobile-image-container {
    display: block !important;
    margin: 30px auto 0 auto;; 
  }

  .my-image-container {
    display: none;
  }
}

@media screen and (max-width: 355px) {
  .my-image-background {
    display: none;
  }

  .my-mobile-image-container > div > img {
    width: 100%;
  }
}
