@media all and (max-width: 699px) {
  nav {
    height: 100px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #131517;
    height: 100px;
  }

  .mini-mobile-nav {
    padding: 0px 10px 15px 10px;
  }

  .main-logo {
    width: 120px;
    margin-top: 35px;
  }

  #nav-links {
    display: block;
    width: 100%;
    margin-right: 0;
    transition: all 3s ease-in-out;
    margin-top: -100%;
    background-color: #131517;
    z-index: 5 !important;
  }

  #nav-links > ul {
    list-style: none;
  }

  li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    line-height: 20px;
    padding: 15px 0 15px 0;
  }

  .download-cv-btn {
    color: #131517;
    display: flex;
    justify-content: right;
    background-color: #131517;
    transition: all 3s ease-in-out;
    padding-bottom: 20px;
  }

  .download-cv > i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .download-cv-btn > * {
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #131517 !important;
    text-decoration: none;
  }

  #toogle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  #toogle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #ffffff;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toogle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #ffffff;
    transform: translateY(5px);
    transition: 1s;
  }

  #toogle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toogle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #nav-links.active {
    transition: all 1.7s ease-in;
    margin-top: 0 !important;
  }

  .css-typewriting-container .static-text {
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 10px;
    font-size: 30px;
  }

  .dynamic-text li {
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    color: #ffc800;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 45px;
    width: 100%;
    background: #131517;
    border-left: 2px solid #ffc800;
    animation: typing 2.5s steps(10) infinite;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 200;
    font-size: 20px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 5px;
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #ffc800;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .dynamic-text-2 li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    height: fit-content;
    width: 100%;
    background: #131517;
    border-left: 2px solid #ffc800;
    animation: typing-2 5s steps(20) infinite;
  }

  .about-me {
    margin-top: 90px !important;
  }

  .about-me-content > p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .rolling-words-container {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 13%;
    grid-gap: 30px;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
  }

  .a-project-card {
    width: 100%;
    border-radius: 10px;
  }

  .projects-section > p {
    font-size: 30px;
    font-weight: 500;
  }

  .contact-me > div {
    font-size: 30px !important;
  }

  .about-project {
    height: fit-content !important;
    font-size: 15px;
  }

  @keyframes slide-2 {
    100% {
      top: -90px;
      margin: 0 0 0 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;
  }

  .my-image-background {
    margin-top: -10px !important;
  }

  .my-mobile-image-container {
    display: block !important;
    margin: 30px auto 0 auto;
  }

  .my-image-container {
    display: none !important;
  }
}

@media screen and (max-width: 355px) {

  .my-image-background {
    display: none !important;
  }

  .my-mobile-image-container > div > img {
    width: 100%;
  }

  .about-project {
    height: fit-content !important;
  }

  .project-content > p {
    height: fit-content !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {

  .about-project {
    overflow-y: scroll !important;
    display: block !important;

  }

 .about-project::-webkit-scrollbar {
  width: 2px;
  background: white;
}
}
