@media all and (max-width: 700px) {
  nav {
    position: static;
    background-color: #131517;
    padding: 20px 10px 40px 10px;
  }

  .main-logo {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }

  .nav-links {
    display: block;
    width: 100%;
    margin-left: 100%;
    margin-right: 0;
    margin-top: -1000%;
    z-index: 1000;
    transition: all 3s ease-in-out;
    opacity: 93%;
  }

  .nav-links > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    line-height: 20px;
    margin: 20px 0 20px 0;
  }

  .download-cv-btn {
    color: #131517;
    display: flex;
    justify-content: right;
  }

  .download-cv > i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
  }

  .download-cv-btn > * {
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #131517 !important;
    text-decoration: none;
  }

  #bars,
  #cross {
    float: right;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

  #check:checked + label span#bars {
    display: none;
  }

  #check:checked + label span#cross {
    display: inline-block;
  }

  #cross,
  #check {
    display: none;
  }

  #check:checked ~ .nav-links {
    margin-left: 0 !important;
    transition: all 4s ease-in-out;
    margin-top: 0 !important;
  }

  .css-typewriting-container .static-text {
    font-size: 40px;
    color: #e1e1e1;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 15px;
    height: 43px;
    font-size: 10px;
  }

  .dynamic-text li {
    list-style: none;
    font-size: 40px;
    font-weight: 400;
    color: #ffc800;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 200;
    font-size: 20px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 5px;
    height: 23px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #ffc800;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .about-me-content > p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  }


  @keyframes slide-2 {
    100% {
      top: -70px;
      margin: 0 0 0 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-me {
    flex-direction: column;
  }

  .my-mobile-image-container {
    display: block !important;
    margin: 0 auto;
  }

  .my-image-container {
    display: none;
  }
}
