@media screen and (max-width: 500px) {
  nav {
    position: static;
    background-color: #131517;
    padding: 20px 10px 20px 10px;
  }

  nav > a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }

  .nav-links {
    /* display: block;
    width: 100%;
    margin-left: 100%;
    margin-right: 0;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 93%; */
    display: none;
  }

  .nav-links > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    line-height: 20px;
    margin: 20px 0 20px 0;
  }

  .download-cv-btn {
    /* color: #131517;
    display: flex;
    justify-content: right; */
    display: none;
  }

  .download-cv-btn > * {
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #131517 !important;
    text-decoration: none;
  }

  .nav-icons{
    float: right;
    color: #ffffff;
    align-items: center;
    padding-top: 3px;
    cursor: pointer;
  }

  #check:checked + label span#bars {
    display: none;
  }

  #check:checked + label span#cross {
    display: inline-block;
  }

  #cross, #check {
    display: none;
  }

  #check:checked ~ .nav-links {
    margin-left: 0;
  }
}
