.nav-links > a:hover {
  transition: all 0.2s ease-in;
  color: #ffc800;
}

.download-cv:hover {
  background-color: #131517;
  color: #ffc800 !important;
  border: 1px solid #ffc800;
  transition: all 0.5s ease-in-out;
}

.socials-logo >a:hover {
  color: #ffc800;
  transition: all 0.5s ease-in-out;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 20px);
  }
  100% {
    left: 0;
    margin: 0 -35px 0 20px;
  }
}

@keyframes slide {
  100% {
    top: -172px;
    margin: 0 0 0 0;
  }
}

@keyframes typing-2 {
  100% {
    left: 100%;
    margin: 0 -30px 0 30px;
  }
}

@keyframes slide-2 {
  100% {
    top: -105px;
    margin: 0 0 0 0;
  }
}
